.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 24.5em 47em;
}

.no-svg .icon:before {
    background-image: url("../img/svg-sprite.png");
}



  .icon.design__icon:before {
      background-position: -0.2em -0.2em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-html5:before {
      background-position: -0.2em -20em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.icon-js:before {
      background-position: -0.2em -24.599999999999998em;
      width: 4.1em;
      height: 4.1em;
  }




  .icon.icon-php:before {
      background-position: -0.2em -29.099999999999998em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.logo__icon:before {
      background-position: -0.2em -33.7em;
      width: 12.6em;
      height: 6.8em;
  }




  .icon.logo__icon_menu:before {
      background-position: -0.2em -40.900000000000006em;
      width: 10.6em;
      height: 5.9em;
  }





