.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/svg-sprite.svg");
    background-repeat: no-repeat;
    background-size: 24.5em 185em;
}

.no-svg .icon:before {
    background-image: url("../img/svg-sprite.png");
}



  .icon.icon-briefcase:before {
      background-position: -0.2em -0.2em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-circles:before {
      background-position: -0.2em -20em;
      width: 18.4em;
      height: 8.4em;
  }




  .icon.icon-design:before {
      background-position: -0.2em -28.8em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-development:before {
      background-position: -0.2em -48.6em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-interface:before {
      background-position: -0.2em -68.4em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-js-text:before {
      background-position: -0.2em -88.2em;
      width: 2.4em;
      height: 1.7em;
  }




  .icon.icon-logo:before {
      background-position: -0.2em -90.3em;
      width: 12.6em;
      height: 6.8em;
  }




  .icon.icon-logo_menu:before {
      background-position: -0.2em -97.5em;
      width: 10.6em;
      height: 5.9em;
  }




  .icon.icon-marketing:before {
      background-position: -0.2em -103.8em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-mobile:before {
      background-position: -0.2em -123.60000000000001em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-php-text:before {
      background-position: -0.2em -143.39999999999998em;
      width: 3.78em;
      height: 1.8em;
  }




  .icon.icon-rocket:before {
      background-position: -0.2em -145.6em;
      width: 24.1em;
      height: 19.4em;
  }




  .icon.icon-tie:before {
      background-position: -0.2em -165.39999999999998em;
      width: 24.1em;
      height: 19.4em;
  }





