@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

body {
  font-family: 'Gilroy', sans-serif; }
  body * a:hover {
    text-decoration: none; }
  body * a:focus {
    text-decoration: none;
    color: initial; }
  body * a, body button {
    cursor: pointer; }

.fixed {
  overflow: hidden; }

.header__button-menu, .banner__button-go-down, .column-menu__button-close, .studio__city-button {
  background: none;
  border: none;
  outline: none;
  padding: 0; }
  .header__button-menu:active, .banner__button-go-down:active, .column-menu__button-close:active, .studio__city-button:active {
    position: relative;
    left: 0; }
    .header__button-menu:active span, .banner__button-go-down:active span, .column-menu__button-close:active span, .studio__city-button:active span, .header__button-menu:active i, .banner__button-go-down:active i, .column-menu__button-close:active i, .studio__city-button:active i {
      position: relative;
      left: 0; }
  .header__button-menu:focus span, .banner__button-go-down:focus span, .column-menu__button-close:focus span, .studio__city-button:focus span, .header__button-menu:focus i, .banner__button-go-down:focus i, .column-menu__button-close:focus i, .studio__city-button:focus i {
    position: relative;
    left: 0; }

.section-heading {
  color: #e8e8e8;
  font-size: 6.875rem;
  font-weight: 700;
  margin-left: 101px;
  line-height: 0.909; }

.link {
  display: inline-block;
  font-family: 'GothamPro', sans-serif;
  color: #3c3c3c;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #606cd9;
  padding-bottom: 6px; }
  .link:hover {
    color: #3c3c3c; }
  .link:focus {
    color: #3c3c3c; }

.greeting {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#5151a5), to(#724ea3));
  background: -webkit-linear-gradient(left, #5151a5, #724ea3);
  background: -o-linear-gradient(left, #5151a5, #724ea3);
  background: linear-gradient(to right, #5151a5, #724ea3);
  position: relative;
  overflow: hidden; }

.header {
  padding-top: 52px; }
  .header__button-menu {
    width: 34px;
    height: 21px;
    float: right;
    margin-top: 14px; }
  .header__bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #e2dbec; }
  .header__bar_short {
    width: -webkit-calc(100% - 5px);
    width: calc(100% - 5px);
    margin: 6px 0 6px 5px; }
  .header__bar_most-short {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin-left: 10px; }

.banner {
  background: url(../../../img/banner-bg__MacBook.png) no-repeat;
  background-position-x: 130px;
  width: 100vw;
  padding-top: 211px;
  margin-top: -webkit-calc(50vh - ((530px/2) + ((68px + 52px)/2)));
  margin-top: calc(50vh - ((530px/2) + ((68px + 52px)/2))); }
  .banner__main-heading {
    color: white;
    font-size: 6.875rem;
    font-weight: 800;
    line-height: 105px;
    margin-bottom: 30px; }
  .banner__description {
    display: inline-block;
    width: 506px;
    font-family: 'GothamPro', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30.5px;
    float: left; }
  .banner__button-go-down {
    display: inline-block;
    margin-top: 39px;
    margin-left: 622px; }
  .banner__icon-go-down {
    color: white;
    font-size: 1.2rem; }

.window-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.column-logo {
  width: 50%;
  height: 100%;
  background: #1c1c1c;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.column-menu {
  width: 50%;
  height: 100%;
  float: right;
  background: -webkit-gradient(linear, left top, right top, from(#624fa4), to(#724ea3));
  background: -webkit-linear-gradient(left, #624fa4, #724ea3);
  background: -o-linear-gradient(left, #624fa4, #724ea3);
  background: linear-gradient(to right, #624fa4, #724ea3);
  padding: 40px;
  position: relative; }
  .column-menu__menu {
    margin-left: 82px;
    position: absolute;
    top: -webkit-calc(50% - (378px - 33px)/2);
    top: calc(50% - (378px - 33px)/2); }
  .column-menu__item {
    margin-bottom: 33px; }
  .column-menu__item_hidden {
    display: none; }
  .column-menu__link {
    color: white;
    font-size: 1.875rem;
    font-weight: 700; }
    .column-menu__link:hover {
      color: white; }
    .column-menu__link:focus {
      color: white; }
  .column-menu__button-close {
    overflow: hidden;
    font-size: 4rem;
    line-height: 0.5;
    color: white;
    opacity: 0.7;
    float: right; }
  .column-menu__icon-close {
    font-size: 1.8rem;
    color: white; }

.content {
  overflow: hidden; }

.projects {
  background: white;
  padding-top: 66px;
  margin-bottom: -54px; }
  .projects__heading {
    font-size: 8.125rem;
    margin-bottom: 92px; }
  .projects__column1 {
    width: 50%;
    padding-right: 25px;
    float: left; }
  .projects__column2 {
    width: 50%;
    padding-left: 25px;
    float: right; }
  .projects__item {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 127px;
    position: relative; }
  .projects__item-heading {
    color: #1c1c1c;
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 25px; }
  .projects__description {
    width: 275px;
    color: #4e4e4e;
    font-size: 0.875rem;
    line-height: 1.714;
    margin-bottom: 41px; }
  .projects__icons {
    display: inline-block;
    margin-bottom: 43px; }
  .projects__icon-js, .projects__icon-html5 {
    margin-left: 15px; }
  .projects .icon-php_custom {
    display: inline-block;
    width: 42px;
    height: 42px;
    float: left;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #3877c4 0%, #4c5fc8 43%, #6541cd 100%);
    background: -o-linear-gradient(315deg, #3877c4 0%, #4c5fc8 43%, #6541cd 100%);
    background: linear-gradient(135deg, #3877c4 0%, #4c5fc8 43%, #6541cd 100%);
    text-align: right; }
  .projects .icon-php-text {
    display: inline-block;
    margin-top: 13px;
    margin-right: -1px; }
  .projects .icon-js_custom {
    display: inline-block;
    width: 42px;
    height: 42px;
    float: left;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #fcea39 0%, #e8c62c 52%, #d6a520 100%);
    background: -o-linear-gradient(315deg, #fcea39 0%, #e8c62c 52%, #d6a520 100%);
    background: linear-gradient(135deg, #fcea39 0%, #e8c62c 52%, #d6a520 100%);
    text-align: right;
    margin-left: 15px; }
  .projects .icon-js-text {
    display: inline-block;
    margin-top: 14px;
    margin-right: 4px; }
  .projects .icon-html5_custom {
    display: inline-block;
    width: 42px;
    height: 42px;
    float: left;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #ff8e42 0%, #df3d27 57%, #c60013 100%);
    background: -o-linear-gradient(315deg, #ff8e42 0%, #df3d27 57%, #c60013 100%);
    background: linear-gradient(135deg, #ff8e42 0%, #df3d27 57%, #c60013 100%);
    margin-left: 15px; }
  .projects .fa-html5 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 0.46em; }
  .projects__image {
    position: absolute;
    bottom: 0;
    right: 0; }
  .projects__img-instagram, .projects__img-agroweb, .projects__img-plafond, .projects__img-cashbox9 {
    right: 11px; }

.services {
  padding-top: 15px;
  padding-bottom: 50px; }
  .services__heading {
    color: #282828;
    font-size: 8.125rem;
    margin-bottom: 124px; }
  .services__item {
    position: relative;
    float: left;
    margin-top: 81px; }
  .services__item-design {
    margin-top: 0; }
  .services__icon {
    margin-right: 64px;
    float: left; }
  .services__item-heading {
    display: inline-block;
    color: #1c1c1c;
    font-size: 1.875rem;
    font-weight: 700;
    border-bottom: 2px solid #1c1c1c;
    padding-bottom: 6px;
    margin-bottom: 40px;
    margin-right: 300px;
    float: left; }
  .services__make-list {
    font-family: 'GothamPro', sans-serif;
    width: 510px;
    height: 297px;
    border-bottom: 1px solid #e8e8e8;
    float: left;
    position: relative; }
  .services__make-list_border-none {
    border-bottom: none; }
  .services__make-list-heading {
    font-family: 'GothamPro', sans-serif;
    color: #1c1c1c;
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 27px;
    text-transform: uppercase; }
  .services__make-list-item {
    list-style-type: disc;
    list-style-position: inside;
    color: #7614f8;
    margin-bottom: 15px; }
  .services__make-list-text {
    color: #4e4e4e;
    font-size: 1rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 15px;
    line-height: 1.5; }
  .services__vertical-block {
    width: 3px;
    height: 31px;
    background: #2d2d2d;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px; }
  .services__use-list {
    float: left;
    height: 297px;
    position: relative; }
  .services__use-list_second {
    height: auto;
    margin-top: 72px;
    margin-left: 10px; }
  .services__use-list-heading {
    font-family: 'GothamPro', sans-serif;
    color: #939393;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    top: -5px;
    line-height: 1.833; }
  .services__use-list-item {
    font-family: 'GothamPro', sans-serif;
    color: #939393;
    font-size: 0.875rem;
    line-height: 2.429; }
  .services__horizontal-block {
    width: 100vw;
    height: 10px;
    background: #5151a5;
    position: absolute;
    bottom: 0;
    left: 0; }
  .services__dots-block {
    width: 100vw;
    height: 337px;
    background: transparent;
    background-image: -webkit-radial-gradient(#e8e8e8 8%, transparent 0);
    background-image: -o-radial-gradient(#e8e8e8 8%, transparent 0);
    background-image: radial-gradient(#e8e8e8 8%, transparent 0);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    position: absolute;
    top: -28px;
    left: 80.3%;
    z-index: -1; }
  .services__horizontal-block_hidden {
    display: none; }

.how-we-work {
  background: #231f20;
  padding-top: 116px;
  padding-bottom: 40px;
  position: relative; }
  .how-we-work__heading {
    color: #ededed;
    margin-bottom: 77px; }
  .how-we-work__description {
    width: 428px;
    font-family: 'GothamPro', sans-serif;
    color: #ededed;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 106px;
    margin-bottom: 175px; }
  .how-we-work__text_below {
    display: inline-block;
    margin-top: 10px; }
  .how-we-work__steps {
    float: right;
    position: relative;
    z-index: 1;
    width: 848px; }
  .how-we-work__step {
    display: inline-block;
    width: 266px;
    float: left;
    margin-bottom: 107px; }
  .how-we-work__step-description {
    font-family: 'GothamPro', sans-serif;
    color: #a8a8a8;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: -0.1px;
    margin-top: 50px; }
  .how-we-work .icon-circles {
    display: inline-block;
    position: relative;
    left: -99px; }
  .how-we-work__number {
    font-family: 'Gilroy', sans-serif;
    font-size: 70px;
    font-weight: 800;
    color: #231f20;
    position: absolute;
    right: 0;
    bottom: -4px; }
  .how-we-work__number_2 {
    right: -4px; }
  .how-we-work__number_3, .how-we-work__number_4, .how-we-work__number_5 {
    right: -5px; }
  .how-we-work__step_margins {
    margin-left: 19px;
    margin-right: 21px; }
  .how-we-work__step_margin-left {
    margin-left: 19px; }
  .how-we-work__dots-block {
    width: 100vw;
    height: 773px;
    background: transparent;
    background-image: -webkit-radial-gradient(#5e5c5d 8%, transparent 0);
    background-image: -o-radial-gradient(#5e5c5d 8%, transparent 0);
    background-image: radial-gradient(#5e5c5d 8%, transparent 0);
    -webkit-background-size: 19px 18px;
            background-size: 19px 18px;
    position: absolute;
    right: 79%;
    bottom: 0; }

.your-project {
  padding: 149px 0;
  position: relative; }
  .your-project__container {
    position: relative;
    z-index: 1; }
  .your-project__heading {
    color: #1c1c1c;
    margin-bottom: 78px; }
  .your-project__item {
    display: inline-block;
    float: left; }
  .your-project__item_width-1 {
    width: 295px; }
  .your-project__item_width-2 {
    width: 358px;
    margin-left: 118px;
    margin-right: 55px; }
  .your-project__item_width-3 {
    width: 342px; }
  .your-project__item-heading {
    color: #1c1c1c;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 35px;
    margin-bottom: 18px; }
  .your-project__item-description {
    font-family: 'GothamPro', sans-serif;
    color: #4e4e4e;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    margin-bottom: 57px; }
  .your-project__item-description_margin-top {
    margin-top: 44px; }
  .your-project__item-description_margin-bottom {
    margin-bottom: 34px; }
  .your-project__item-link {
    display: none; }
  .your-project__dots-block {
    width: 100%;
    height: 100%;
    background: transparent;
    background-image: -webkit-radial-gradient(#e8e8e8 8%, transparent 0);
    background-image: -o-radial-gradient(#e8e8e8 8%, transparent 0);
    background-image: radial-gradient(#e8e8e8 8%, transparent 0);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    position: absolute;
    left: 50%;
    bottom: 0; }

.studio {
  position: relative; }
  .studio__text-block {
    position: relative;
    top: -33px;
    margin-left: 411px;
    font-family: 'GothamPro', sans-serif;
    color: #3c3c3c;
    margin-bottom: 65px; }
  .studio__description {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 28px; }
  .studio__text {
    width: 466px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714; }
  .studio__text_below {
    margin-top: 26px; }
  .studio__city-block {
    width: 181px;
    height: 110px;
    float: left;
    position: relative; }
  .studio__city-block_margins {
    margin-left: 414px;
    margin-right: 82px; }
  .studio__city-button {
    font-family: 'GothamPro', sans-serif;
    color: #606cd9;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 20px; }
  .studio__indicator {
    width: 5px;
    height: 30px;
    background: #606cd9;
    position: absolute;
    top: 0;
    left: 0; }
  .studio__connector {
    width: 1px;
    height: 80px;
    background: #231f20;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden; }
  .studio__city-button_active {
    color: #1c1c1c; }
  .studio__indicator_active {
    background: #2d2d2d; }
  .studio__connector_active {
    visibility: visible; }
  .studio__image {
    width: 100%; }
  .studio__image_hidden {
    display: none; }

.career {
  padding-top: 150px; }
  .career__jobs {
    background: #f5f4f6;
    width: 100%;
    padding: 80px 102px;
    -webkit-box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    top: -19px;
    float: left;
    margin-bottom: 40px; }
  .career__vacancy {
    width: 50%;
    float: left; }
  .career__vacancy_padding-left {
    padding-left: 28px; }
  .career__indicator {
    width: 31px;
    height: 3px;
    background: #2d2d2d;
    margin-bottom: 40px; }
  .career__vacancy-heading {
    color: #1c1c1c;
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 17px; }
  .career__city {
    font-family: 'GothamPro', sans-serif;
    color: #1c1c1c;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 26px; }
  .career__description {
    font-family: 'GothamPro', sans-serif;
    color: #3c3c3c;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714; }
  .career__description_width_margin-bottom-1 {
    width: 467px;
    margin-bottom: 52px; }
  .career__description_width_margin-bottom-2 {
    width: 467px;
    margin-bottom: 76px; }
  .career__link {
    text-transform: none; }

.blog {
  padding-top: 62px;
  padding-bottom: 130px;
  display: none; }
  .blog__heading {
    color: #1c1c1c;
    margin-bottom: 88px; }
  .blog__items {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog__item {
    width: 368px; }
  .blog__image {
    width: 100%; }
  .blog__article-heading {
    color: #1c1c1c;
    font-size: 1.625rem;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 12px; }
  .blog__theme {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
    height: 19px;
    padding: 0 10px;
    background: #7567ad;
    -webkit-border-radius: 9px;
            border-radius: 9px;
    font-family: 'GothamPro', sans-serif;
    color: white;
    font-size: 0.625rem;
    font-weight: 500;
    text-transform: uppercase; }
  .blog__description {
    font-family: 'GothamPro', sans-serif;
    color: #3c3c3c;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    margin-top: 24px;
    margin-bottom: 47px; }
  .blog__description_width-2 {
    width: 314px; }
  .blog__description_width-3 {
    width: 323px; }
  .blog__link {
    display: none; }

.footer {
  background: #231f20;
  padding-top: 70px;
  padding-bottom: 67px;
  font-family: 'GothamPro', sans-serif;
  position: relative;
  overflow: hidden; }
  .footer__container {
    position: relative; }
  .footer__logo {
    margin-right: 505px;
    float: left;
    position: relative;
    z-index: 1; }
  .footer__contacts {
    float: left; }
  .footer__contacts_margin-right {
    margin-right: 43px; }
  .footer__city {
    color: #ededed;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 1.3px; }
  .footer__contacts-text {
    color: #a8a8a8;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2.429; }
  .footer__email:hover {
    color: #a8a8a8; }
  .footer__email:focus {
    color: #a8a8a8; }
  .footer__socials {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 74px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    float: right; }
  .footer__link {
    width: 32px;
    height: 32px;
    background: #5f67ae;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #231f20; }
    .footer__link:hover {
      color: #231f20; }
    .footer__link:focus {
      color: #231f20; }
  .footer__dots-block {
    width: 100vw;
    height: 100vh;
    background: transparent;
    background-image: -webkit-radial-gradient(#5e5c5d 8%, transparent 0);
    background-image: -o-radial-gradient(#5e5c5d 8%, transparent 0);
    background-image: radial-gradient(#5e5c5d 8%, transparent 0);
    -webkit-background-size: 18px 18px;
            background-size: 18px 18px;
    position: absolute;
    top: -50%;
    right: 85.3%; }

.icon {
  font-size: 10px; }

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/svg-sprite.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 24.5em 329.9em;
          background-size: 24.5em 329.9em; }

.no-svg .icon:before {
  background-image: url("../img/svg-sprite.png"); }

.icon.icon-briefcase:before {
  background-position: -0.2em -0.2em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-briefcase_tablets:before {
  background-position: -0.2em -20em;
  width: 19.9em;
  height: 16em; }

.icon.icon-circles:before {
  background-position: -0.2em -36.400000000000006em;
  width: 18.4em;
  height: 8.4em; }

.icon.icon-design:before {
  background-position: -0.2em -45.2em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-design_tablets:before {
  background-position: -0.2em -65em;
  width: 19.9em;
  height: 16em; }

.icon.icon-development:before {
  background-position: -0.2em -81.4em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-development_tablets:before {
  background-position: -0.2em -101.2em;
  width: 19.9em;
  height: 16em; }

.icon.icon-html5:before {
  background-position: -0.2em -117.60000000000001em;
  width: 4.2em;
  height: 4.2em; }

.icon.icon-interface:before {
  background-position: -0.2em -122.2em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-interface_tablets:before {
  background-position: -0.2em -142em;
  width: 19.9em;
  height: 16em; }

.icon.icon-js:before {
  background-position: -0.2em -158.39999999999998em;
  width: 4.1em;
  height: 4.1em; }

.icon.icon-js-text:before {
  background-position: -0.2em -162.89999999999998em;
  width: 2.4em;
  height: 1.7em; }

.icon.icon-logo:before {
  background-position: -0.2em -165em;
  width: 12.6em;
  height: 6.8em; }

.icon.icon-logo_menu:before {
  background-position: -0.2em -172.2em;
  width: 10.6em;
  height: 5.9em; }

.icon.icon-marketing:before {
  background-position: -0.2em -178.5em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-marketing_tablets:before {
  background-position: -0.2em -198.29999999999998em;
  width: 19.9em;
  height: 16em; }

.icon.icon-mobile:before {
  background-position: -0.2em -214.7em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-mobile_tablets:before {
  background-position: -0.2em -234.5em;
  width: 19.9em;
  height: 16em; }

.icon.icon-php:before {
  background-position: -0.2em -250.89999999999998em;
  width: 4.2em;
  height: 4.2em; }

.icon.icon-php-text:before {
  background-position: -0.2em -255.5em;
  width: 3.78em;
  height: 1.8em; }

.icon.icon-rocket:before {
  background-position: -0.2em -257.7em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-rocket_tablets:before {
  background-position: -0.2em -277.5em;
  width: 19.9em;
  height: 16em; }

.icon.icon-tie:before {
  background-position: -0.2em -293.9em;
  width: 24.1em;
  height: 19.4em; }

.icon.icon-tie_tablets:before {
  background-position: -0.2em -313.7em;
  width: 19.9em;
  height: 16em; }

@media (min-width: 1280px) {
  .container {
    width: 1184px;
    padding: 0; } }

@media (min-width: 1200px) and (max-width: 1279px) {
  .how-we-work__dots-block {
    right: 82%; }
  .career__description_width_margin-bottom-2 {
    width: 458px; }
  .your-project__item_width-2 {
    margin-left: 102px;
    margin-right: 41px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .section-heading {
    font-size: 5.625rem;
    line-height: 1;
    margin-left: 84px; }
  .banner {
    background-position-x: -70px; }
    .banner__button-go-down {
      margin-left: 422px; }
  .column-menu__menu {
    margin-left: 40px; }
  .projects {
    padding-top: 50px;
    margin-bottom: 0; }
    .projects__heading {
      margin-bottom: 68px; }
    .projects__column1 {
      padding-right: 20px; }
    .projects__column2 {
      padding-left: 20px; }
    .projects__item {
      height: 315px;
      margin-bottom: 60px; }
    .projects__item-ngtron, .projects__item-cashbox9 {
      display: none; }
    .projects__description {
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
    .projects__icons {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      right: 0; }
    .projects__image {
      height: 197px;
      right: 33%; }
  .services {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -24px; }
    .services__heading {
      margin-bottom: 43px; }
    .services__item {
      margin-top: 59px; }
    .services__item-design {
      margin-top: 0; }
    .services__icon {
      margin-right: 42px; }
    .services__item-heading {
      margin-right: 50px; }
    .services__make-list {
      width: 420px; }
    .services__make-list-text {
      width: 335px; }
    .services__use-list_second {
      margin-left: -20px; }
  .how-we-work {
    padding-top: 60px;
    padding-bottom: 57px; }
    .how-we-work__heading {
      margin-bottom: 42px; }
    .how-we-work__description {
      margin-left: 88px;
      margin-bottom: 87px; }
    .how-we-work__steps {
      width: 609px; }
    .how-we-work__step {
      height: 229px;
      margin-bottom: 37px; }
    .how-we-work__step_margins {
      margin-right: 0;
      margin-left: 0; }
    .how-we-work__step_margin-left {
      margin-left: 0;
      margin-bottom: 0; }
    .how-we-work__step_margin-right {
      margin-right: 74px; }
    .how-we-work__step-description {
      margin-top: 30px; }
    .how-we-work__dots-block {
      height: 811px;
      right: 89%; }
  .your-project {
    padding: 60px 0; }
    .your-project__heading {
      margin-bottom: 33px; }
    .your-project__item_width-2 {
      width: 294px;
      margin-left: 46px;
      margin-right: 49px; }
    .your-project__item_width-3 {
      width: 246px; }
    .your-project__icon-rocket, .your-project__icon-tie, .your-project__icon-briefcase {
      font-size: 0.516rem; }
    .your-project__item-heading {
      margin-top: 30px; }
    .your-project__item-description {
      margin-bottom: 75px; }
    .your-project__item-description_margin-bottom {
      margin-bottom: 27px; }
    .your-project__dots-block {
      left: 610px; }
  .studio__text-block {
    top: -28px;
    margin-left: 255px;
    margin-bottom: 47px; }
  .studio__city-block_margins {
    margin-left: 258px;
    margin-right: 68px; }
  .career {
    padding-top: 60px; }
    .career__jobs {
      padding: 50px 84px;
      -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
              box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
      margin-bottom: 20px; }
    .career__description_width_margin-bottom-1 {
      width: 378px;
      margin-bottom: 38px; }
    .career__description_width_margin-bottom-2 {
      width: 387px;
      margin-bottom: 86px; }
  .blog {
    padding-top: 41px;
    padding-bottom: 60px; }
    .blog__heading {
      margin-bottom: 48px; }
    .blog__item {
      width: 304px; }
    .blog__article-heading {
      margin-top: 24px; }
    .blog__description {
      width: 100%;
      margin-bottom: 27px; }
  .footer__logo {
    margin-right: 314px; }
  .footer__dots-block {
    right: 82%; } }

@media (min-width: 992px) {
  .link:hover {
    color: #606cd9;
    border-bottom-color: #3c3c3c; }
  .header__button-menu:hover {
    opacity: 0.7; }
  .banner__button-go-down:hover {
    opacity: 0.7; }
  .banner__button-go-down:active {
    position: relative;
    top: 2px; }
  .column-menu__link:hover {
    color: inherit; }
  .column-menu__button-close:hover {
    color: #1c1c1c; }
  .projects__item:hover {
    background: #f8f8f8;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    .projects__item:hover .projects__image {
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px);
      -webkit-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      z-index: 3; }
  .studio__city-button:hover {
    opacity: 0.7; }
  .studio__city-button:hover + .studio__indicator {
    opacity: 0.7; }
  .studio__city-button:active {
    position: relative;
    top: 2px; }
  .studio__city-button_active:hover {
    opacity: 1; }
  .studio__city-button_active:hover + .studio__indicator {
    opacity: 1; }
  .footer__email:hover {
    color: #724ea3; }
  .footer__link:hover {
    opacity: 0.8; } }

@media (min-width: 768px) and (max-width: 991px) {
  .icon-js_custom, .icon-html5_custom {
    margin-left: 0 !important;
    margin-top: 10px; }
  .header {
    padding-top: 41px; }
    .header__icon-logo {
      font-size: 0.462rem; }
      .header__icon-logo:before {
        width: 12.8em !important; }
    .header__button-menu {
      margin-top: 0; }
  .banner {
    -webkit-background-size: 813px 389px;
            background-size: 813px 389px;
    background-position: -50px 0;
    padding-top: 179px;
    margin-top: -webkit-calc(50vh - ((383px/2) + ((50px + 41px)/2)));
    margin-top: calc(50vh - ((383px/2) + ((50px + 41px)/2))); }
    .banner__main-heading {
      font-size: 4.875rem;
      line-height: 76px;
      margin-bottom: 14px; }
    .banner__description {
      font-size: 0.875rem;
      line-height: 19px; }
    .banner__button-go-down {
      margin-top: 19px;
      margin-left: 202px; }
  .column-menu {
    padding: 25px; }
    .column-menu__menu {
      margin-left: 25px;
      top: -webkit-calc(50% - (342px - 33px)/2);
      top: calc(50% - (342px - 33px)/2); }
    .column-menu__link {
      font-size: 1.5rem; }
  .section-heading {
    font-size: 4.563rem;
    margin-left: 40px; }
  .projects {
    padding-top: 50px;
    margin-bottom: 0; }
    .projects__heading {
      margin-bottom: 68px; }
    .projects__column1 {
      padding-right: 20px; }
    .projects__column2 {
      padding-left: 20px; }
    .projects__item {
      height: 315px;
      margin-bottom: 60px; }
    .projects__icons {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .projects__icon-js, .projects__icon-html5 {
      margin-left: 0;
      margin-top: 10px; }
    .projects__item-ngtron, .projects__item-cashbox9 {
      display: none; }
    .projects__description {
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
    .projects__icons {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      right: 0; }
    .projects__image {
      height: 197px;
      right: 28%; }
  .services {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -24px; }
    .services__heading {
      margin-bottom: 43px; }
    .services__item {
      margin-top: 59px; }
    .services__item-design {
      margin-top: 0; }
    .services__icon {
      display: block;
      margin-right: 0;
      margin-bottom: 30px;
      float: none; }
    .services__item-heading {
      margin-right: 50px; }
    .services__make-list {
      width: 420px;
      clear: left; }
    .services__make-list-text {
      width: 335px; }
    .services__use-list_second {
      margin-left: -20px; }
    .services__dots-block {
      top: inherit; }
  .how-we-work {
    padding-top: 60px;
    padding-bottom: 57px; }
    .how-we-work__heading {
      margin-bottom: 42px; }
    .how-we-work__description {
      margin-left: 88px;
      margin-bottom: 87px; }
    .how-we-work__steps {
      width: 609px; }
    .how-we-work__step {
      height: 229px;
      margin-bottom: 37px; }
    .how-we-work__step_margins {
      margin-right: 0;
      margin-left: 0; }
    .how-we-work__step_margin-left {
      margin-left: 0;
      margin-bottom: 0; }
    .how-we-work__step_margin-right {
      margin-right: 74px; }
    .how-we-work__step-description {
      margin-top: 30px; }
    .how-we-work__dots-block {
      height: 811px;
      right: 89%; }
  .your-project {
    padding: 60px 0; }
    .your-project__heading {
      margin-bottom: 33px; }
    .your-project__item {
      display: block;
      float: none; }
    .your-project__item_width-2 {
      width: 294px;
      margin-left: 0;
      margin-right: 0;
      float: right; }
    .your-project__item_width-3 {
      width: 246px;
      clear: both; }
    .your-project__icon-rocket, .your-project__icon-tie, .your-project__icon-briefcase {
      font-size: 0.516rem; }
    .your-project__item-heading {
      margin-top: 30px; }
    .your-project__item-description {
      margin-bottom: 60px; }
    .your-project__item-description_margin-bottom {
      margin-bottom: 60px; }
    .your-project__dots-block {
      left: 510px; }
  .studio__text-block {
    top: -20px;
    margin-left: 130px;
    margin-bottom: 47px; }
  .studio__city-block_margins {
    margin-left: 133px;
    margin-right: 68px; }
  .career {
    padding-top: 60px; }
    .career__jobs {
      padding: 40px 40px;
      -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
              box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07);
      margin-bottom: 20px; }
    .career__vacancy_padding-left {
      padding-left: 37px; }
    .career__description_width_margin-bottom-1 {
      width: 100%;
      margin-bottom: 38px; }
    .career__description_width_margin-bottom-2 {
      width: 100%;
      margin-bottom: 84px; }
  .blog {
    padding-top: 41px;
    padding-bottom: 60px; }
    .blog__heading {
      margin-bottom: 48px; }
    .blog__item {
      width: 304px; }
    .blog__image {
      width: 98%; }
    .blog__article-heading {
      margin-top: 24px; }
    .blog__description {
      width: 100%;
      margin-bottom: 27px;
      font-size: 0.8rem; }
  .footer {
    padding-top: 40px;
    padding-bottom: 37px; }
    .footer__logo {
      margin-right: 175px; }
    .footer__dots-block {
      right: 77%; } }

@media (max-width: 767px) {
  body {
    min-width: 320px; }
  .container {
    padding: 0 10px; }
  .header {
    padding-top: 20px; }
    .header__icon-logo {
      font-size: 0.3rem; }
      .header__icon-logo:before {
        width: 12.7em !important; }
    .header__button-menu {
      width: 24px;
      height: 17px;
      margin-top: 0; }
    .header__bar_short {
      margin: 4px 0 4px 5px; }
  .banner {
    width: auto;
    background: transparent;
    padding-top: 0;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px; }
    .banner__main-heading {
      font-size: 3.125rem;
      line-height: 56px;
      margin-bottom: 20px; }
    .banner__description {
      display: block;
      width: 255px;
      font-size: 0.875rem;
      line-height: 19px;
      float: none; }
    .banner__button-go-down {
      margin-top: 27px;
      margin-left: 0; }
  .column-logo {
    display: none; }
  .column-menu {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#5151a5), to(#724ea3));
    background: -webkit-linear-gradient(left, #5151a5, #724ea3);
    background: -o-linear-gradient(left, #5151a5, #724ea3);
    background: linear-gradient(to right, #5151a5, #724ea3);
    padding: 15px; }
    .column-menu__menu {
      margin-left: 0;
      top: -webkit-calc(50% - (330px - 33px)/2);
      top: calc(50% - (330px - 33px)/2);
      left: -webkit-calc(50% - 258px/2);
      left: calc(50% - 258px/2);
      text-align: center; }
    .column-menu__link {
      font-size: 1.4rem; }
    .column-menu__button-close {
      font-size: 3.5rem; }
  .section-heading {
    font-size: 3.125rem;
    line-height: 0.9;
    margin-left: 0; }
  .projects {
    padding-top: 30px;
    padding-bottom: 21px;
    margin-bottom: 0; }
    .projects__heading {
      margin-bottom: 30px; }
    .projects__column1 {
      width: 100%;
      padding-right: 0; }
    .projects__column2 {
      width: 100%;
      padding-left: 0; }
    .projects__item {
      height: 392px;
      margin-bottom: 30px; }
    .projects__item-kindergartens, .projects__item-ngtron, .projects__item-plafond, .projects__item-cashbox9 {
      display: none; }
    .projects__description {
      line-height: 1.571;
      margin-bottom: 17px;
      position: relative;
      z-index: 1; }
    .projects__icons {
      margin-bottom: 0;
      position: relative;
      z-index: 1; }
    .projects__image {
      height: 235px;
      left: 36px; }
  .services {
    padding-top: 0;
    padding-bottom: 0; }
    .services__heading {
      margin-bottom: 30px; }
    .services__item {
      clear: both;
      margin-top: 59px; }
    .services__item-design {
      margin-top: 0; }
    .services__icon {
      display: block;
      font-size: 0.3rem;
      margin-right: 0;
      margin-bottom: 30px;
      float: none; }
    .services__item-heading {
      margin-right: 0;
      margin-bottom: 33px;
      float: none; }
    .services__make-list {
      width: auto;
      height: auto;
      border-bottom: none;
      padding-bottom: 15px;
      float: none;
      margin-bottom: 24px; }
    .services__make-list-heading {
      margin-bottom: 23px; }
    .services__make-list-item {
      list-style-position: outside;
      margin-left: 18px; }
    .services__make-list-text {
      width: auto;
      margin-left: 0;
      display: inline; }
    .services__vertical-block {
      top: inherit;
      right: inherit;
      margin-right: 0;
      left: 14px;
      bottom: -14px;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .services__use-list {
      height: auto;
      padding-bottom: 60px;
      border-bottom: 1px solid #e8e8e8; }
    .services__use-list-heading {
      margin-bottom: 23px; }
    .services__use-list-item {
      line-height: 2; }
    .services__use-list_second {
      margin-top: 65px;
      border-bottom: none; }
    .services__horizontal-block {
      left: 85%; }
    .services__dots-block {
      height: 102px;
      top: inherit;
      bottom: 22px;
      left: 30.3%; }
  .how-we-work {
    padding-top: 50px;
    padding-bottom: 47px; }
    .how-we-work__heading {
      margin-bottom: 30px; }
    .how-we-work__description {
      width: auto;
      max-width: 428px;
      font-size: 1rem;
      line-height: 1.5;
      margin-left: 0;
      margin-bottom: 37px; }
    .how-we-work__new-line {
      display: none; }
    .how-we-work__steps {
      width: 261px;
      float: none;
      margin-left: 13%; }
    .how-we-work__step {
      margin-bottom: 40px; }
    .how-we-work__step_margins {
      margin-right: 0;
      margin-left: 0; }
    .how-we-work__step_margin-left {
      margin-left: 0;
      margin-bottom: 0; }
    .how-we-work__step-description {
      margin-top: 30px;
      line-height: 1.571; }
    .how-we-work__dots-block {
      height: 81%;
      left: 320px;
      right: 0; }
  .your-project {
    padding-top: 50px;
    padding-bottom: 16px; }
    .your-project__heading {
      margin-bottom: 39px; }
    .your-project__item {
      margin-bottom: 41px;
      width: 100%; }
    .your-project__item_width-2 {
      margin-left: 0;
      margin-right: 0; }
    .your-project__icon-rocket, .your-project__icon-tie, .your-project__icon-briefcase {
      font-size: 0.3rem; }
    .your-project__item-heading {
      width: 300px;
      margin-top: 26px; }
    .your-project__item-description {
      margin-top: 14px;
      margin-bottom: 28px;
      width: 292px; }
    .your-project__item-description_margin-bottom {
      margin-bottom: 27px; }
    .your-project__dots-block {
      left: 320px; }
  .studio {
    padding-top: 26px; }
    .studio__text-block {
      width: 261px;
      top: -11px;
      margin-left: 41px;
      margin-bottom: 27px; }
    .studio__city-block {
      height: 30px;
      margin-left: 44px;
      float: none;
      margin-bottom: 20px; }
    .studio__city-block_margins {
      margin-left: 44px;
      margin-right: 0;
      margin-bottom: 10px; }
    .studio__text {
      line-height: 1.571;
      width: 100%; }
    .studio__connector {
      display: none; }
  .career {
    padding-top: 58px; }
    .career__jobs {
      width: -webkit-calc(100vw - 17px);
      width: calc(100vw - 17px);
      margin-left: -10px;
      padding: 40px 10px;
      -webkit-box-shadow: none;
              box-shadow: none;
      top: -8px;
      margin-bottom: -8px; }
    .career__vacancy {
      width: 100%; }
    .career__vacancy_padding-left {
      padding-left: 0;
      margin-top: 40px; }
    .career__indicator {
      display: none; }
    .career__vacancy-heading {
      margin-bottom: 9px; }
    .career__city {
      margin-bottom: 17px; }
    .career__description {
      line-height: 1.571;
      width: 298px; }
    .career__description_width_margin-bottom-1 {
      margin-bottom: 22px; }
    .career__description_width_margin-bottom-2 {
      margin-bottom: 22px; }
  .blog {
    padding: 50px 0; }
    .blog__heading {
      margin-bottom: 0; }
    .blog__items {
      display: block; }
    .blog__item {
      width: 100%;
      margin-top: 39px; }
    .blog__article-heading {
      margin-top: 24px; }
    .blog__description {
      width: 100%;
      line-height: 1.571;
      margin-top: 19px;
      margin-bottom: 27px; }
  .footer {
    padding: 40px 0; }
    .footer__container {
      position: relative; }
    .footer__logo {
      float: none;
      margin-right: 0; }
    .footer__contacts {
      float: none;
      margin-top: 35px;
      position: relative;
      z-index: 1; }
    .footer__contacts_margin-right {
      margin-right: 0; }
    .footer__city {
      margin-bottom: 16px; }
    .footer__contacts-text {
      line-height: 1.714; }
    .footer__socials {
      float: none;
      position: absolute;
      top: 0;
      right: 15px; }
    .footer__link {
      background: #606cd9; }
    .footer__dots-block {
      width: 155px;
      left: -5px;
      right: 0; } }
