footer.footer
  .container.footer__container
    a.footer__logo(href='#' title='Apptech.ru')
      span.icon.icon-logo_menu.footer__icon-logo_menu
    .footer__contacts.footer__contacts_margin-right
      p.footer__city Омск
      p.footer__contacts-text Пн - Пт, 12:00&nbsp;-&nbsp;20:00
      p.footer__contacts-text.footer__phone-1 +7&nbsp;962&nbsp;045&nbsp;8555
      p.footer__contacts-text.footer__address ул.&nbsp;Ильинская,&nbsp;4,&nbsp;офис&nbsp;51
      a.footer__contacts-text.footer__email(href='mailto:mail@at-develop.ru' title='Написать письмо') mail@at-develop.ru
    // /.footer__contacts
    .footer__contacts
      p.footer__city Санкт-Петербург
      p.footer__contacts-text Скоро открытие
      //p.footer__contacts-text.footer__phone-1 8&nbsp;800&nbsp;567&nbsp;8894
      //p.footer__contacts-text.footer__phone-2 +7&nbsp;495&nbsp;567&nbsp;8894
      //p.footer__contacts-text.footer__address ул.&nbsp;Ленина,&nbsp;54
      //a.footer__contacts-text.footer__email(href='mailto:mail@at-develop.ru' title='Написать письмо') mail@at-develop.ru
    // /.footer__contacts
    .footer__socials
      a.footer__link(href='https://vk.com/application_technology' title='https://vk.com/application_technology' target='_blank')
        i.fa.fa-vk.footer__icon-vk(aria-hidden="true")
      //a.footer__link(href='https://twitter.com/' title='https://twitter.com/' target='_blank')
        i.fa.fa-twitter.footer__icon-twitter(aria-hidden="true")
    // /.footer__socials
    .footer__dots-block
  // /.container
// /.footer