footer.footer
  .container.footer__container
    a.footer__logo(href='#')
      span.icon.icon-logo_menu.footer__icon-logo_menu
    .footer__contacts.footer__contacts_margin-right
      p.footer__city Санкт-Петербург
      p.footer__contacts-text.footer__phone-1 8&nbsp;800&nbsp;567&nbsp;8894
      p.footer__contacts-text.footer__phone-2 +7&nbsp;495&nbsp;567&nbsp;8894
      p.footer__contacts-text.footer__address ул.&nbsp;Ленина,&nbsp;54
      a.footer__contacts-text.footer__email(href='mailto:mail@mail.com') mail@mail.com
    // /.footer__contacts
    .footer__contacts
      p.footer__city Омск
      p.footer__contacts-text.footer__phone-1 8&nbsp;800&nbsp;567&nbsp;8894
      p.footer__contacts-text.footer__phone-2 +7&nbsp;495&nbsp;567&nbsp;8894
      p.footer__contacts-text.footer__address ул.&nbsp;Ленина,&nbsp;54
      a.footer__contacts-text.footer__email(href='mailto:mail@mail.com') mail@mail.com
    // /.footer__contacts
    .footer__socials
      a.footer__link(href='https://www.facebook.com/' title='https://www.facebook.com/' target='_blank')
        i.fa.fa-facebook.footer__icon-facebook(aria-hidden="true")
      a.footer__link(href='https://twitter.com/' title='https://twitter.com/' target='_blank')
        i.fa.fa-twitter.footer__icon-twitter(aria-hidden="true")
    // /.footer__socials
    .footer__dots-block
  // /.container
// /.footer