doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //base(href='http://zaicev0r.beget.tech/')
    //link(rel='icon', href='favicon.ico')
    title Apptech
    link(href='css/libs.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    include ../blocks/greeteng/_greeting
    include ../blocks/content/_content
    include ../blocks/footer/_footer
    // ==================================================
    script(type='text/javascript' src='js/libs.min.js')
    script(type='text/javascript' src='js/main.js')