@media (min-width: 992px) and (max-width: 1199px)

  .banner
    background-position-x: -70px

    &__button-go-down
      margin-left: 422px

  .column-menu

    &__menu
      margin-left: 40px

  .section-heading
    font-size: 5.625rem
    line-height: 1
    margin-left: 84px

  .blog
    padding: 60px 0

    &__heading
      margin-bottom: 48px

    &__item
      width: 304px

    &__article-heading
      margin-top: 24px

    &__description
      width: 100%
      margin-bottom: 27px

  .footer

    &__logo
      margin-right: 314px

    &__dots-block
      left: -78%