@media (min-width: 992px) and (max-width: 1199px)

  .banner
    background-position-x: -70px

    &__button-go-down
      margin-left: 422px

  .column-menu

    &__menu
      margin-left: 40px