@media (min-width: 768px) and (max-width: 991px)

  .header
    padding-top: 41px

    &__icon-logo
      font-size: 0.462rem

      &:before
        width: 12.8em !important

    &__button-menu
      margin-top: 0

  .banner
    background-size: 813px 389px
    background-position: -50px 0
    padding-top: 179px
    margin-top: calc(50vh - ((383px/2) + ((50px + 41px)/2)))

    &__main-heading
      font-size: 4.875rem
      line-height: 76px
      margin-bottom: 14px

    &__description
      font-size: 0.875rem
      line-height: 19px

    &__button-go-down
      margin-top: 19px
      margin-left: 202px

  .column-menu
    padding: 25px

    &__menu
      margin-left: 25px
      top: calc(50% - (399px - 33px)/2)

    &__link
      font-size: 1.5rem

  .footer
    padding-top: 40px
    padding-bottom: 37px

    &__logo
      margin-right: 175px

    &__dots-block
      right: 77%