@media (min-width: 1200px) and (max-width: 1279px)

  .column-menu

    &__button-close
      margin-right: calc((100vw - (1170px + 30px))/2 - 2px)

  .how-we-work

    &__dots-block
      right: 82%

  .career

    &__description_width_margin-bottom-2
      width: 458px

  .your-project

    &__item_width-2
      margin-left: 102px
      margin-right: 41px

@media (min-width: 1200px)

  //.projects

    &__item

      &:hover
        border-bottom: none
        padding: 10px
        margin-bottom: -20px
        background: rgb(248, 248, 248)
        box-shadow: 0 0 10px $white4

        .projects__image
          transform: translateY(2px)
          z-index: 3