@media (min-width: 768px) and (max-width: 991px)

  .main-heading

    &__text
      font-size: 4.875rem
      line-height: 76px

  .banner
    background-size: 813px 389px
    background-position: -52px 0
    padding-top: 179px
    margin-top: 11.875vh

    &__main-heading
      margin-bottom: 14px

    &__description
      font-size: 0.875rem
      line-height: 19px

    &__button-go-down
      margin-top: 19px