@media (min-width: 992px) and (max-width: 1199px)

  .banner
    background-position-x: -70px

    &__button-go-down
      margin-left: 422px

  .column-menu

    &__menu
      margin-left: 40px

  .section-heading
    font-size: 5.625rem
    line-height: 1
    margin-left: 84px

  .projects
    padding-top: 50px

    &__heading
      margin-bottom: 68px

    &__item
      height: 340px

    &__icons
      margin-bottom: 0
      position: absolute
      top: 0
      right: 0

    &__image
      right: 50%

  .how-we-work
    padding-top: 60px
    padding-bottom: 57px

    &__heading
      margin-bottom: 42px

    &__description
      margin-left: 88px
      margin-bottom: 87px

    &__steps
      width: 609px

    &__step
      height: 229px
      margin-bottom: 37px

    &__step_margins
      margin-right: 0
      margin-left: 0

    &__step_margin-left
      margin-left: 0
      margin-bottom: 0

    &__step_margin-right
      margin-right: 74px

    &__step-description
      margin-top: 30px

    &__dots-block
      height: 811px
      right: 89%

  .your-project
    padding: 60px 0

    &__heading
      margin-bottom: 33px

    &__item_width-2
      width: 294px
      margin-left: 46px
      margin-right: 49px

    &__item_width-3
      width: 246px

    &__icon-rocket, &__icon-tie, &__icon-briefcase
      font-size: 0.516rem

    &__item-heading
      margin-top: 30px

    &__item-description
      margin-bottom: 75px

    &__item-description_margin-bottom
      margin-bottom: 27px

    &__dots-block
      left: 610px

  .studio

    &__text-block
      top: -28px
      margin-left: 255px
      margin-bottom: 47px

    &__city-block_margins
      margin-left: 258px
      margin-right: 68px

  .career
    padding-top: 60px

    &__jobs
      padding: 50px 84px
      box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.07)

    &__description_width_margin-bottom-1
      width: 378px
      margin-bottom: 38px

    &__description_width_margin-bottom-2
      width: 387px
      margin-bottom: 86px

  .blog
    padding-top: 41px
    padding-bottom: 60px

    &__heading
      margin-bottom: 48px

    &__item
      width: 304px

    &__article-heading
      margin-top: 24px

    &__description
      width: 100%
      margin-bottom: 27px

  .footer

    &__logo
      margin-right: 314px

    &__dots-block
      right: 82%