@media (max-width: 767px)

  body
    min-width: 320px

  .container
    padding: 0 10px

  .header
    padding-top: 20px

    &__icon-logo
      font-size: 0.378rem

      &:before
        width: 12.7em !important

    &__button-menu
      width: 24px
      height: 17px
      margin-top: 0

    &__bar_short
      margin: 4px 0 4px 5px

  .banner
    width: auto
    background: transparent
    padding-top: 0
    margin-top: 0
    position: absolute
    bottom: 0
    margin-bottom: 30px

    &__main-heading
      font-size: 3.125rem
      line-height: 56px
      margin-bottom: 20px

    &__description
      display: block
      width: 255px
      font-size: 0.875rem
      line-height: 19px
      float: none

    &__button-go-down
      margin-top: 27px
      margin-left: 0

  .column-logo
    display: none

  .column-menu
    width: 100%
    background: linear-gradient(to right, $purple, $purple2)
    padding: 15px

    &__button-close
      margin-top: -1px
      margin-right: 9px

    &__menu
      margin-left: 0
      top: calc(50% - (385px - 33px)/2)
      //top: calc(50% - (330px - 33px)/2)
      left: calc(50% - 258px/2)
      text-align: center

    &__link
      font-size: 1.4rem

    &__button-close
      font-size: 3.5rem

  .section-heading
    font-size: 3.125rem
    line-height: 0.9
    margin-left: 0

  .projects
    padding-top: 30px
    padding-bottom: 21px
    margin-bottom: 0

    &__heading
      margin-bottom: 30px

    &__column1
      width: 100%
      padding-right: 0

    &__column2
      width: 100%
      padding-left: 0

    &__item
      height: 392px
      margin-bottom: 30px

    &__item-kindergartens, &__item-ngtron, &__item-plafond, &__item-cashbox9
      display: none

    &__description
      line-height: 1.571
      margin-bottom: 17px
      position: relative
      z-index: 1

    &__icons
      margin-bottom: 0
      position: relative
      z-index: 1

    &__image
      height: 235px
      left: 36px

  .services
    padding-top: 0
    padding-bottom: 0

    &__heading
      margin-bottom: 30px

    &__item
      clear: both
      margin-top: 59px

    &__item-design
      margin-top: 0

    &__icon
      display: block
      font-size: 0.3rem
      margin-right: 0
      margin-bottom: 30px
      float: none

    &__item-heading
      margin-right: 0
      margin-bottom: 33px
      float: none

    &__make-list
      width: auto
      height: auto
      border-bottom: none
      padding-bottom: 15px
      float: none
      margin-bottom: 24px

    &__make-list-heading
      margin-bottom: 23px

    &__make-list-item
      list-style-position: outside
      margin-left: 18px

    &__make-list-text
      width: auto
      margin-left: 0
      display: inline

    &__vertical-block
      top: inherit
      right: inherit
      margin-right: 0
      left: 14px
      bottom: -14px
      transform: rotate(90deg)

    &__use-list
      height: auto
      padding-bottom: 60px
      border-bottom: 1px solid $white3

    &__use-list-heading
      margin-bottom: 23px

    &__use-list-item
      line-height: 2

    &__use-list_second
      margin-top: 65px
      border-bottom: none

    &__horizontal-block
      left: 85%
      bottom: -1px

    &__dots-block
      height: 102px
      top: inherit
      bottom: 22px
      left: 30.3%

  .how-we-work
    padding-top: 50px
    padding-bottom: 47px

    &__heading
      margin-bottom: 30px

    &__description
      width: auto
      max-width: 428px
      font-size: 1rem
      line-height: 1.5
      margin-left: 0
      margin-bottom: 37px

    &__new-line
      display: none

    &__steps
      width: 261px
      float: none
      margin-left: 13%

    &__step
      margin-bottom: 40px

    &__step_margins
      margin-right: 0
      margin-left: 0

    &__step_margin-left
      margin-left: 0
      margin-bottom: 0

    &__step-description
      margin-top: 30px
      line-height: 1.571

    &__dots-block
      height: 81%
      left: 320px
      right: 0

  .your-project
    padding-top: 50px
    padding-bottom: 16px

    &__heading
      margin-bottom: 39px

    &__item
      margin-bottom: 41px
      width: 100%

    &__item_width-2
      margin-left: 0
      margin-right: 0

    &__icon-rocket, &__icon-tie, &__icon-briefcase
      font-size: 0.3rem

    &__item-heading
      width: 300px
      margin-top: 26px

    &__item-description
      margin-top: 14px
      margin-bottom: 28px
      width: 292px

    &__item-description_margin-bottom
      margin-bottom: 27px

    &__dots-block
      left: 320px

  .studio
    padding-top: 26px

    &__text-block
      width: 261px
      top: -11px
      margin-left: 41px
      margin-bottom: 27px

    &__city-block
      height: 30px
      margin-left: 44px
      float: none
      margin-bottom: 20px

    &__city-block_margins
      margin-left: 44px
      margin-right: 0
      margin-bottom: 10px

    &__text
      line-height: 1.571
      width: 100%

    &__connector
      display: none

    &__block-instead-img
      padding: 20px 0

  .career
    padding-top: 58px

    &__jobs
      width: calc(100vw - 17px)
      margin-left: -10px
      padding: 40px 10px
      box-shadow: none
      top: -8px
      margin-bottom: -8px

    &__vacancy
      width: 100%

    &__vacancy_padding-left
      padding-left: 0
      margin-top: 40px

    &__indicator
      display: none

    &__vacancy-heading
      margin-bottom: 9px

    &__city
      margin-bottom: 17px

    &__description
      line-height: 1.571
      width: 298px

    &__description_width_margin-bottom-1
      margin-bottom: 22px

    &__description_width_margin-bottom-2
      margin-bottom: 22px

  .blog
    padding: 50px 0

    &__heading
      margin-bottom: 0

    &__items
      display: block

    &__item
      width: 100%
      margin-top: 39px

    &__article-heading
      margin-top: 24px

    &__description
      width: 100%
      line-height: 1.571
      margin-top: 19px
      margin-bottom: 27px

  .footer
    padding: 40px 0

    &__container
      position: relative

    &__logo
      float: none
      margin-right: 0

    &__contacts
      float: none
      margin-top: 35px
      position: relative
      z-index: 1

    &__contacts_margin-right
      margin-right: 0

    &__city
      margin-bottom: 16px

    &__contacts-text
      line-height: 1.714

    &__socials
      float: none
      position: absolute
      top: 0
      right: 15px

    &__link
      background: $purple4

    &__dots-block
      width: 155px
      left: -5px
      right: 0