.greeting
  .container
    header.header
      a.header__logo(href='#' title='Apptech.ru')
        span.icon.icon-logo.header__icon-logo
      button.header__button-menu(type='button' title='Меню')
        span.header__bar
        span.header__bar.header__bar_short
        span.header__bar.header__bar_most-short
      // /.header__button-menu
    // /.header
    .banner
      h1.banner__main-heading
        | Application
        br
        | technology
      // /.banner__main-heading
      p.banner__description Создаем успешные проекты, используя комплексный подход от&nbsp;зарождения идеи до&nbsp;результата
      a.banner__button-go-down(href='#projects' title='Вниз')
        i.fa.fa-angle-double-down.banner__icon-go-down(aria-hidden="true")
    // /.banner
  // /.container
// /.greeting
.window-menu
  .column-logo
    a.logo_menu.column-logo__logo_menu(href='#' title='Apptech.ru')
      span.icon.icon-logo_menu.column-logo__icon-logo_menu
  // /.column-logo
  .column-menu
    button.column-menu__button-close(type='button' title='Закрыть') &times;
    ul.column-menu__menu
      li.column-menu__item
        a.column-menu__link(href='#projects' title='Портфолио') Портфолио
      li.column-menu__item
        a.column-menu__link(href='#services' title='Услуги') Услуги
      li.column-menu__item
        a.column-menu__link(href='#how-we-work' title='Как мы работаем') Как мы работаем
      li.column-menu__item
        a.column-menu__link(href='#your-project' title='Какой ваш проект') Какой ваш проект
      li.column-menu__item
        a.column-menu__link(href='#studio' title='О студии') О студии
      li.column-menu__item
        a.column-menu__link(href='#career' title='Вакансии и стажировка') Вакансии и стажировка
      li.column-menu__item.column-menu__item_hidden
        a.column-menu__link(href='#blog' title='Блог') Блог
    // /.column-menu__menu
  // /.column-menu
// /.window-menu