.how-we-work
  background: $black4
  padding-top: 116px
  padding-bottom: 40px
  position: relative

  &__heading
    color: $white5
    margin-bottom: 77px

  &__description
    width: 428px
    font-family: 'GothamPro', sans-serif
    color: $white5
    font-size: 1rem
    font-weight: 400
    line-height: 1.5
    margin-left: 106px
    margin-bottom: 175px

  &__text_below
    display: inline-block
    margin-top: 10px

  &__steps
    float: right
    position: relative
    z-index: 1
    width: 848px

  &__step
    display: inline-block
    width: 266px
    float: left
    margin-bottom: 107px

  &__step-description
    font-family: 'GothamPro', sans-serif
    color: $grey4
    font-size: 0.875rem
    font-weight: 400
    line-height: 1.714
    letter-spacing: -0.1px
    margin-top: 50px

  .icon-circles
    display: inline-block
    position: relative
    left: -99px

  &__number
    font-family: 'Gilroy', sans-serif
    font-size: 70px
    font-weight: 800
    color: $black4
    position: absolute
    right: 0
    bottom: -4px

  &__number_2
    right: -4px

  &__number_3, &__number_4, &__number_5
    right: -5px

  &__step_margins
    margin-left: 19px
    margin-right: 21px

  &__step_margin-left
    margin-left: 19px

  &__dots-block
    width: 100vw
    height: 773px
    background: transparent
    background-image: radial-gradient($grey5 8%, transparent 0)
    background-size: 19px 18px
    position: absolute
    right: 79%
    bottom: 0