.section-heading
  color: $white3
  font-size: 6.875rem
  font-weight: 700
  margin-left: 101px
  line-height: 0.909

.projects
  background: $white2
  padding-top: 66px
  margin-bottom: -54px

  &__heading
    font-size: 8.125rem
    margin-bottom: 92px

  &__column1
    width: 50%
    padding-right: 25px
    float: left

  &__column2
    width: 50%
    padding-left: 25px
    float: right

%projects__item_default
  border-bottom: 1px solid $white4
  margin-bottom: 127px
  position: relative

  .item__heading
    color: $black
    font-size: 1.875rem
    font-weight: 700
    margin-bottom: 25px

  .item__description
    width: 275px
    color: $grey
    font-size: 0.875rem
    line-height: 21.6px
    margin-bottom: 41px

  .item__icons
    margin-bottom: 43px

    .icon
      margin-right: 15px

  .item__image
    position: absolute
    bottom: 0
    right: 0


.item
  @extend %projects__item_default
