.link
  display: inline-block
  font-family: 'GothamPro', sans-serif
  color: $grey6
  font-size: 0.75rem
  font-weight: 700
  text-transform: uppercase
  border-bottom: 2px solid $purple4
  padding-bottom: 6px

  &:hover
    color: $purple4
    border-bottom-color: $grey6

  &:focus
    color: $grey6


.your-project
  padding: 149px 0
  position: relative

  &__container
    position: relative
    z-index: 1

  &__heading
    color: $black
    margin-bottom: 78px

  &__item
    display: inline-block
    float: left

  &__item_width-1
    width: 295px

  &__item_width-2
    width: 358px
    margin-left: 118px
    margin-right: 55px

  &__item_width-3
    width: 342px

  &__item-heading
    color: $black
    font-size: 1.625rem
    font-weight: 700
    line-height: 1.1
    margin-top: 35px
    margin-bottom: 18px

  &__item-description
    font-family: 'GothamPro', sans-serif
    color: $grey
    font-size: 0.875rem
    font-weight: 400
    line-height: 1.714
    margin-bottom: 57px

  &__item-description_margin-top
    margin-top: 44px

  &__item-description_margin-bottom
    margin-bottom: 34px

  &__item-link
    display: none

  &__dots-block
    width: 100%
    height: 100%
    background: transparent
    background-image: radial-gradient($white3 6%, transparent 0)
    background-size: 18px 18px
    position: absolute
    left: 50%
    bottom: 0