.icon-php_custom
  display: inline-block
  width: 42px
  height: 42px
  float: left
  border-radius: 50%
  background: linear-gradient(135deg, #3877c4 0%, #4c5fc8 43%, #6541cd 100%)
  text-align: right

.icon-php-text
  display: inline-block
  margin-top: 13px
  margin-right: -1px