// Fonts
@font-face
  font-family: "Gilroy"
  src: url("../fonts/Gilroy/Gilroy-Light.otf") format("opentype")
  font-style: normal
  font-weight: 300

@font-face
  font-family: "Gilroy"
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.otf") format("opentype")
  font-style: normal
  font-weight: 800

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro/GothamProLight.ttf") format("truetype")
  font-style: normal
  font-weight: 300

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro/GothamProRegular.ttf") format("truetype")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro/GothamProMedium.ttf") format("truetype")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro/GothamProBold.ttf") format("truetype")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "GothamPro"
  src: url("../fonts/GothamPro/GothamProBlack.ttf") format("truetype")
  font-style: normal
  font-weight: 900



// Colors
$purple: rgb(81, 81, 165)
$purple-middle: rgb(98, 79, 164)
$purple2: rgb(114, 78, 163)
$purple3: rgb(118, 20, 248)
$purple4: rgb(96, 108, 217)
$purple5: rgb(117, 103, 173)
$white: rgb(226, 219, 236)
$white2: rgb(255, 255, 255)
$white3: rgb(232, 232, 232)
$white4: rgb(219, 219, 219)
$white5: rgb(237, 237, 237)
$white6: rgb(245, 244, 246)
$black: rgb(28, 28, 28)
$black2: rgb(40, 40, 40)
$black3: rgb(45, 45, 45)
$black4: rgb(35, 31, 32)
$grey: rgb(78, 78, 78)
$grey2: rgb(180, 180, 180)
$grey3: rgb(119, 119, 119)
$grey4: rgb(168, 168, 168)
$grey5: rgb(94, 92, 93)
$grey6: rgb(60, 60, 60)



// Page
body
  font-family: 'Gilroy', sans-serif

  * a

    &:hover
      text-decoration: none

    &:focus
      text-decoration: none
      color: initial

// Include _greeting.sass
@import 'blocks/greeting'

// Include _content.sass
@import 'blocks/content/content'

// Include _footer.sass
//@import 'blocks/footer/footer'



// Include _svg-sprite.css
@import '../css/svg-sprite'



// Include _png-sprite.css
//@import '../css/png-sprite'



// Include _media-queries.sass
@import 'media-queries/media-queries'