section.blog#blog
  .container
    h4.section-heading.blog__heading Блог
    .blog__items
      article.blog__item
        img.blog__image(src='img/article-1.jpg' alt='article-1')
        h6.blog__article-heading Обновилось портфолио
        p.blog__theme Проектирование
        p.blog__theme JSON
        p.blog__description Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском
        a.link.blog__link(href='#' title='Узнать больше') Подробнее
      // /.blog__item
      article.blog__item
        img.blog__image(src='img/article-2.jpg' alt='article-2')
        h6.blog__article-heading Открылся новый офис
        p.blog__theme Проектирование
        p.blog__theme CRM
        p.blog__description.blog__description_width-2 Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным
        a.link.blog__link(href='#' title='Узнать больше') Подробнее
      // /.blog__item
      article.blog__item
        img.blog__image(src='img/article-3.jpg' alt='article-3')
        h6.blog__article-heading Мы попробовали новую технологию
        p.blog__theme Дизайн
        p.blog__theme CRM
        p.blog__theme HTML5
        p.blog__description.blog__description_width-3 По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение
        a.link.blog__link(href='#' title='Узнать больше') Подробнее
      // /.blog__item
    // /.blog__items
  // /.container
// /.blog