section.career#career
  .container
    h4.section-heading.career__heading
      | Вакансии
      br
      | и стажировка
    // /.career__heading
    .career__jobs
      .career__vacancy
        .career__indicator
        h6.career__vacancy-heading PHP программист
        p.career__city Санкт-Петербург
        p.career__description.career__description_width_margin-bottom-1 Мы ищем опытного разработчика серверной части сайтов, магазинов и веб-сервисов для команды в Петербурге. Мы ищем опытного разработчика серверной части сайтов, магазинов и веб-сервисов для команды в Петербурге.
        a.link.career__link(href='mailto:example@domain.com?subject=Вопрос о вакансии' title='Написать письмо') Узнать о вакансии: example@domain.com
      // /.career__vacancy
      .career__vacancy.career__vacancy_padding-left
        .career__indicator
        h6.career__vacancy-heading Стажировка
        p.career__city Омск
        p.career__description.career__description_width_margin-bottom-2 Нам постоянно приходят запросы на практику и стажировку от студентов, начинающих специалистов и желающих переквалифицироваться.
        a.link.career__link(href='mailto:example@domain.com?subject=Вопрос о стажировке' title='Написать письмо') Узнать о стажировке: example@domain.com
      // /.career__vacancy
    // /.career__jobs
  // /.container
// /.career