section.how-we-work
  .container
    h4.how-we-work__heading
      | Как мы
      br
      | работаем
    // /.how-we-work__heading
    p.how-we-work__description
      | Берем оплату только за отработанные часы, нет фиксированной стоимости, вся работа прозрачная
      br
      | и отслеживается.
    // /.how-we-work__description
    .how-we-work__dots-block
    .how-we-work__step.step
      span.icon.step__icon-1
      p.step__description Оцениваем время на реализацию проекта, составляем предварительные сметы, делим проект на этапы, для более быстрого запуска в жизнь
    // /.step
    .how-we-work__step.step
      span.icon.step__icon-2
      p.step__description Проект-менеджер использует лучшие методологии управление проектами (SCRUM, Kanban)
    // /.step
    .how-we-work__step.step
      span.icon.step__icon-3
      p.step__description Разработка проекта (организация работы по принципу “точно в срок”, поэтапный запуск проекта, что позволяет разрабатывать максимально гибкий продукт)
    // /.step
    .how-we-work__step.step
      span.icon.step__icon-4
      p.step__description Тестируем все до мельчайших деталей. Пишем автоматические тесты, и тестируем вручную
    // /.step
    .how-we-work__step.step
      span.icon.step__icon-5
      p.step__description Завершение проекта и сопровождение, либо передача проекта под управление заказчику
    // /.step
  // /.container
// /.how-we-work