section.how-we-work#how-we-work
  .container
    h4.section-heading.how-we-work__heading
      | Как мы
      br
      | работаем
    // /.how-we-work__heading
    p.how-we-work__description
      span.how-we-work__text Берем оплату только за отработанные часы, нет фиксированной стоимости, вся работа прозрачная
      br
      span.how-we-work__text и отслеживается.
      br
      span.how-we-work__text_below Для больших проектов возможно выделить целую команду на проект.
    // /.how-we-work__description
    .how-we-work__dots-block
    .how-we-work__steps
      .how-we-work__step
        span.icon.how-we-work__icon-1
        p.how-we-work__step-description Оцениваем время на реализацию проекта, составляем предварительные сметы, делим проект на этапы, для более быстрого запуска в жизнь
      // /.how-we-work__step
      .how-we-work__step.how-we-work__step_margins
        span.icon.how-we-work__icon-2
        p.how-we-work__step-description Проект-менеджер использует лучшие методологии управление проектами (SCRUM, Kanban)
      // /.how-we-work__step
      .how-we-work__step
        span.icon.how-we-work__icon-3
        p.how-we-work__step-description Разработка проекта (организация работы по принципу “точно в срок”, поэтапный запуск проекта, что позволяет разрабатывать максимально гибкий продукт)
      // /.how-we-work__step
      br
      .how-we-work__step
        span.icon.how-we-work__icon-4
        p.how-we-work__step-description Тестируем все до мельчайших деталей. Пишем автоматические тесты, и тестируем вручную
      // /.how-we-work__step
      .how-we-work__step.how-we-work__step_margin-left
        span.icon.how-we-work__icon-5
        p.how-we-work__step-description Завершение проекта и сопровождение, либо передача проекта под управление заказчику
      // /.how-we-work__step
    // /.how-we-work__steps
  // /.container
// /.how-we-work