section.projects#projects
  .container
    h3.section-heading.projects__heading Наши работы
    .projects__column1
      .item.projects__terminals
        h4.item__heading Терминалы
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
          span.icon.icon-html5
        // /.item__icons
        img.item__image(src='img/terminals.png' alt='terminals' title='Терминалы')
      // /.item
      .item.projects__open-h
        h4.item__heading Open H (Open I)
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
          span.icon.icon-html5
        // /.item__icons
        img.item__image(src='img/open-h.png' alt='open-h' title='Open H')
      // /.item
      .item.projects__kindergartens
        h4.item__heading Садики
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
          span.icon.icon-html5
        // /.item__icons
        img.item__image(src='img/kindergartens.png' alt='kindergartens' title='Садики')
      // /.item
      .item.projects__ngtron
        h4.item__heading Нгтрон
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
          span.icon.icon-html5
        // /.item__icons
        img.item__image(src='img/ngtron.png' alt='ngtron' title='Нгтрон')
      // /.item
    // /.projects__column1
    .projects__column2
      .item.projects__instagram
        h4.item__heading Инстаграм
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
        // /.item__icons
        img.item__image(src='img/instagram.png' alt='instagram' title='Инстаграм')
      // /.item
      .item.projects__agroweb
        h4.item__heading Агровеб
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
        // /.item__icons
        img.item__image(src='img/instagram.png' alt='agroweb' title='Агровеб')
      // /.item
      .item.projects__plafond
        h4.item__heading Plafond
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
        // /.item__icons
        img.item__image(src='img/plafond.png' alt='plafond' title='Plafond')
      // /.item
      .item.projects__cashbox9
        h4.item__heading Касса9
        p.item__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .item__icons
          span.icon.icon-php
          span.icon.icon-js
        // /.item__icons
        img.item__image(src='img/instagram.png' alt='cashbox9' title='Касса9')
      // /.item
    // /.projects__column2
  // /.container
// /.projects