section.projects#projects
  .container
    h3.section-heading.projects__heading Наши работы
    .projects__column1
      .projects__item
        h4.projects__item-heading Терминалы
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          //include _icon-php
          span.icon.icon-js.projects__icon-js
          span.icon.icon-html5.projects__icon-html5
        // /.projects__icons
        img.projects__image.projects__img-terminals(src='img/terminals.png' alt='terminals' title='Терминалы')
      // /.projects__item
      .projects__item
        h4.projects__item-heading Open H (Open I)
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
          span.icon.icon-html5.projects__icon-html5
        // /.projects__icons
        img.projects__image.projects__img-open-h(src='img/open-h.png' alt='open-h' title='Open H')
      // /.projects__item
      .projects__item.projects__item-kindergartens
        h4.projects__item-heading Садики
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
          span.icon.icon-html5.projects__icon-html5
        // /.projects__icons
        img.projects__image.projects__img-kindergartens(src='img/kindergartens.png' alt='kindergartens' title='Садики')
      // /.projects__item
      .projects__item.projects__item-ngtron
        h4.projects__item-heading Нгтрон
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
          span.icon.icon-html5.projects__icon-html5
        // /.projects__icons
        img.projects__image.projects__img-ngtron(src='img/ngtron.png' alt='ngtron' title='Нгтрон')
      // /.projects__item
    // /.projects__column1
    .projects__column2
      .projects__item
        h4.projects__item-heading Инстаграм
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
        // /.projects__icons
        img.projects__image.projects__img-instagram(src='img/instagram.png' alt='instagram' title='Инстаграм')
      // /.projects__item
      .projects__item
        h4.projects__item-heading Агровеб
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
        // /.projects__icons
        img.projects__image.projects__img-agroweb(src='img/instagram.png' alt='agroweb' title='Агровеб')
      // /.projects__item
      .projects__item.projects__item-plafond
        h4.projects__item-heading Plafond
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
        // /.projects__icons
        img.projects__image.projects__img-plafond(src='img/plafond.png' alt='plafond' title='Plafond')
      // /.projects__item
      .projects__item.projects__item-cashbox9
        h4.projects__item-heading Касса9
        p.projects__description Мобильный менеджер задач для управления процессами в заведениях быстрого обслуживания
        .projects__icons
          span.icon.icon-php.projects__icon-php
          span.icon.icon-js.projects__icon-js
        // /.projects__icons
        img.projects__image.projects__img-cashbox9(src='img/instagram.png' alt='cashbox9' title='Касса9')
      // /.projects__item
    // /.projects__column2
  // /.container
// /.projects