section.services
  .container
    h3.services__heading Услуги
    .design.services__design
      span.icon.design__icon
      h5.design__heading Проектирование и аналитика
      ul.make-list.design__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text Идея
        li.make-list__item
          span.make-list__text Анализ рынка
        li.make-list__item
          span.make-list__text Стратегия продвижения
        li.make-list__item
          span.make-list__text Позиционирование и брендинг онлайн
        li.make-list__item
          span.make-list__text Создание прототипа
        .make-list__vertical-block
      // /.make-list
      ul.use-list.design__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item маркетолог
        li.use-list__item менеджер проекта
        .use-list__horizontal-block
      // /.use-list
      .design__dots-block
    // /.design
  // /.container
// /.services