section.services#services
  .container
    h3.section-heading.services__heading Услуги
    .services__item.services__item-design
      span.icon.icon-design.services__icon.services__icon-design
      h5.services__item-heading Проектирование и аналитика
      ul.services__make-list
        h6.services__make-list-heading Что делаем
        li.services__make-list-item
          span.services__make-list-text Идея
        li.services__make-list-item
          span.services__make-list-text Анализ рынка
        li.services__make-list-item
          span.services__make-list-text Стратегия продвижения
        li.services__make-list-item
          span.services__make-list-text Позиционирование и брендинг онлайн
        li.services__make-list-item
          span.services__make-list-text Создание прототипа
        .services__vertical-block
      // /.services__make-list
      ul.services__use-list
        h6.services__use-list-heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.services__use-list-heading
        li.services__use-list-item Маркетолог
        li.services__use-list-item Менеджер проекта
        .services__horizontal-block
      // /.services__use-list
      .services__dots-block
    // /.services__item
    .services__item.services__item-development
      span.icon.icon-development.services__icon.services__icon-development
      h5.services__item-heading Веб-разработка
      ul.services__make-list
        h6.services__make-list-heading Что делаем
        li.services__make-list-item
          span.services__make-list-text Высоконагруженные серверные приложения
        li.services__make-list-item
          span.services__make-list-text Интернет-магазины и электронные каталоги
        li.services__make-list-item
          span.services__make-list-text Разработка веб-приложений и API
        li.services__make-list-item
          span.services__make-list-text
            |Поддержка и сопровождение программ
            br
            | и приложений
          // /.services__make-list-text
        .services__vertical-block
      // /.services__make-list
      ul.services__use-list
        h6.services__use-list-heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.services__use-list
        li.services__use-list-item Маркетолог
        li.services__use-list-item Менеджер проекта
        li.services__use-list-item Дизайнер-проектировщик
        .services__horizontal-block
      // /.services__use-list
      .services__dots-block
    // /.services__item
    .services__item.services__item-mobile
      span.icon.icon-mobile.services__icon.services__icon-mobile
      h5.services__item-heading Мобильные приложения
      ul.services__make-list
        h6.services__make-list-heading Что делаем
        li.services__make-list-item
          span.services__make-list-text Android & IOS Dev
        li.services__make-list-item
          span.services__make-list-text Дизайн
        li.services__make-list-item
          span.services__make-list-text Проектирование
        li.services__make-list-item
          span.services__make-list-text Интеграция в существующие системы
        li.services__make-list-item
          span.services__make-list-text Поддержка и сопровождение
        .services__vertical-block
      // /.services__make-list
      ul.services__use-list
        h6.services__use-list-heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.services__use-list-heading
        li.services__use-list-item Android & IOS разработчик
        li.services__use-list-item Дизайнер-проектировщик
        li.services__use-list-item Frontend разработчик
        li.services__use-list-item Тестировщик
        .services__horizontal-block
      // /.services__use-list
      .services__dots-block
    // /.services__item
    .services__item.services__item-interface
      span.icon.icon-interface.services__icon.services__icon-interface
      h5.services__item-heading Дизайн интерфейса
      ul.services__make-list
        h6.services__make-list-heading Что делаем
        li.services__make-list-item
          span.services__make-list-text Фирменный стиль
        li.services__make-list-item
          span.services__make-list-text Дизайн сайта
        li.services__make-list-item
          span.services__make-list-text Иконки
        li.services__make-list-item
          span.services__make-list-text Иллюстрации
        li.services__make-list-item
          span.services__make-list-text Дизайн баннеров
        .services__vertical-block
      // /.services__make-list
      ul.services__use-list
        h6.services__use-list-heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.services__use-list-heading
        li.services__use-list-item Дизайнер-проектировщик
        .services__horizontal-block
      // /.services__use-list
      .services__dots-block
    // /.services__item
    .services__item.services__item-marketing
      span.icon.icon-marketing.services__icon.services__icon-marketing
      h5.services__item-heading Интернет-маркетинг
      ul.services__make-list.services__make-list_border-none
        h6.services__make-list-heading Что делаем
        li.services__make-list-item
          span.services__make-list-text SEO & SMM
        li.services__make-list-item
          span.services__make-list-text Контекст
        li.services__make-list-item
          span.services__make-list-text PR онлайн
        li.services__make-list-item
          span.services__make-list-text Вирусный маркетинг
        li.services__make-list-item
          span.services__make-list-text Веб-аналитика
        .services__vertical-block
      // /.services__make-list
      ul.services__use-list
        h6.services__use-list-heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.services__use-list-heading
        li.services__use-list-item Маркетолог
        li.services__use-list-item Интернет-маркетолог
        li.services__use-list-item SEO специалист
        li.services__use-list-item SMM менеджер
        .services__horizontal-block.services__horizontal-block_hidden
      // /.services__use-list
      ul.services__use-list.services__use-list_second
        li.services__use-list-item Копирайтер
        li.services__use-list-item Дизайнер
      // /.services__use-list
      .services__dots-block
    // /.services__item
  // /.container
// /.services