section.services
  .container
    h3.services__heading Услуги
    .design.services__design
      span.icon.design__icon
      h5.design__heading Проектирование и аналитика
      ul.make-list.design__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text Идея
        li.make-list__item
          span.make-list__text Анализ рынка
        li.make-list__item
          span.make-list__text Стратегия продвижения
        li.make-list__item
          span.make-list__text Позиционирование и брендинг онлайн
        li.make-list__item
          span.make-list__text Создание прототипа
        .make-list__vertical-block
      // /.make-list
      ul.use-list.design__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item маркетолог
        li.use-list__item менеджер проекта
        .use-list__horizontal-block
      // /.use-list
      .design__dots-block
    // /.design
    .development.services__development
      span.icon.development__icon
      h5.development__heading Веб-разработка
      ul.make-list.development__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text Высоконагруженные серверные приложения
        li.make-list__item
          span.make-list__text Интернет-магазины и электронные каталоги
        li.make-list__item
          span.make-list__text Разработка веб-приложений и API
        li.make-list__item
          span.make-list__text
            |Поддержка и сопровождение программ
            br
            | и приложений
        .make-list__vertical-block
      // /.make-list
      ul.use-list.development__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item маркетолог
        li.use-list__item менеджер проекта
        li.use-list__item дизайнер-проектировщик
        .use-list__horizontal-block
      // /.use-list
      .development__dots-block
    // /.development
    .mobile.services__mobile
      span.icon.mobile__icon
      h5.mobile__heading Мобильные приложения
      ul.make-list.mobile__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text Android & IOS Dev
        li.make-list__item
          span.make-list__text Дизайн
        li.make-list__item
          span.make-list__text Проектирование
        li.make-list__item
          span.make-list__text Интеграция в существующие системы
        li.make-list__item
          span.make-list__text Поддержка и сопровождение
        .make-list__vertical-block
      // /.make-list
      ul.use-list.mobile__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item android & IOS разработчик
        li.use-list__item дизайнер-проектировщик
        li.use-list__item frontend разработчик
        li.use-list__item тестировщик
        .use-list__horizontal-block
      // /.use-list
      .mobile__dots-block
    // /.mobile
    .interface.services__interface
      span.icon.interface__icon
      h5.interface__heading Дизайн интерфейса
      ul.make-list.interface__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text Фирменный стиль
        li.make-list__item
          span.make-list__text Дизайн сайта
        li.make-list__item
          span.make-list__text Иконки
        li.make-list__item
          span.make-list__text Иллюстрации
        li.make-list__item
          span.make-list__text Дизайн баннеров
        .make-list__vertical-block
      // /.make-list
      ul.use-list.interface__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item дизайнер-проектировщик
        .use-list__horizontal-block
      // /.use-list
      .interface__dots-block
    // /.interface
    .marketing.services__marketing
      span.icon.marketing__icon
      h5.marketing__heading Интернет-маркетинг
      ul.make-list.marketing__make-list
        h6.make-list__heading Что делаем
        li.make-list__item
          span.make-list__text SEO & SMM
        li.make-list__item
          span.make-list__text Контекст
        li.make-list__item
          span.make-list__text PR онлайн
        li.make-list__item
          span.make-list__text Вирусный маркетинг
        li.make-list__item
          span.make-list__text Веб-аналитика
        .make-list__vertical-block
      // /.make-list
      ul.use-list.marketing__use-list
        h6.use-list__heading
          | Задействованные
          br
          | сотрудники и технологии
        // /.use-list__heading
        li.use-list__item маркетолог
        li.use-list__item интернет-маркетолог
        li.use-list__item SEO специалист
        li.use-list__item SMM менеджер
        .use-list__horizontal-block
      // /.use-list
      ul.use-list.marketing__use-list_second
        li.use-list__item копирайтер
        li.use-list__item дизайнер
      // /.use-list
      .marketing__dots-block
    // /.marketing
  // /.container
// /.services