section.your-project
  .container
    h4.section-heading.your-project__heading
      | Какой ваш
      br
      | проект?
    // /.your-project__heading
    .your-project__item.your-project__item_width-1
      span.icon.your-project__icon-rocket
      h6.your-project__item-heading Стартапы
      p.your-project__item-description.your-project__item-description_margin-top Проверка идеи, аналитика и разработка прототипа
      a.link.your-project__item-link(href='#') Подробнее
    // /.your-project__item
    .your-project__item.your-project__item_width-2
      span.icon.your-project__icon-tie
      h6.your-project__item-heading
        | Разработка для малого
        br
        | и среднего бизнеса
      // /.your-project__item-heading
      p.your-project__item-description.your-project__item-description_margin-bottom Вы не стартап? Тогда предлагаем традиционную разработку информационных системы для бизнеса, сроки реализации до 6 месяцев
      a.link.your-project__item-link(href='#') Подробнее
    // /.your-project__item
    .your-project__item.your-project__item_width-3
      span.icon.your-project__icon-briefcase
      h6.your-project__item-heading Крупный бизнес, крупные стартапы
      p.your-project__item-description Разработка систем от 6 месяцев с выделенной командой
      a.link.your-project__item-link(href='#') Подробнее
    // /.your-project__item
    .your-project__dots-block
  // /.container
// /.your-project